 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1020px;
}

.u-section-1 .u-text-1 {
  width: 740px;
  margin: 60px auto 0;
}

.u-section-1 .u-image-1 {
  width: 260px;
  height: 140px;
  margin: -120px 20px 0 auto;
}

.u-section-1 .u-text-2 {
  width: 740px;
  margin: 0 auto;
}

.u-section-1 .u-table-1 {
  width: 1032px;
  margin: 20px auto 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.875rem;
  text-transform: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-text-3 {
  width: 740px;
  margin: 20px 200px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    width: 940px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}