:root{
    --azul_claro: rgb(137, 234, 248);
    --amarillo: rgb(242, 202, 78);
    --blanco:#efe6e6;
    --azul_oscuro:rgba(17, 7, 69, 0.796);
    --rojo:#f85151;
    --verde: #0a6b0d;
    --dorado: #9c885d;
                  
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}  

.joyero{
   border: 1px solid var(--dorado);
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
}

.joyero .header-joyero{
    background-color: var(--dorado);
    color: var(--dorado);
    text-align: center;
    padding: 10px;
}

.joyero h2{
    color: var(--blanco);
}


.joyero .joyero-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}

.joyero .joyero-item img{
    margin-right: 20px;
}

.joyero .joyero-item .joyero-item-titulo{
   display: block;
   font-weight: bold;
   margin-bottom: 10px;
   text-transform: uppercase; 
}

.joyero .joyero-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}

.joyero .joyero-item .selector-cantidad :hover{
    scale: 2;
}

.joyero .joyero-item .joyero-item-cantidad{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.joyero .joyero-item .selector-cantidad{
    cursor: pointer;
}

.joyero .joyero-item .joyero-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.joyero .joyero-item .btn-eliminar{
    cursor: pointer;
}

.joyero .joyero-item .btn-eliminar :hover{
    scale: 2;
}

.joyero .joyero-item .selector-cantidad input{
    pointer-events: none;
}

.joyero-total{
    background-color: var(--dorado);
    padding: 30px;
}

.joyero-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.joyero-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: var(--blanco);
    color: #000;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.joyero-total .btn-pagar:hover{
    scale: 1.1;
}


.seccion{
    display: flex;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    margin:auto;
    margin-bottom: 40px;
    text-align: center;
}

.seccion video{
    align-items: end;
    justify-content: center;
    width: 650px;
    height:470px;
    /*translateX(-50%) translateY(-50%);*/
    z-index: "-1%";
    margin-left: 10px;
    margin-bottom: 40px;
}

.grilla{
   display: grid;
   justify-content: center;
   max-width: 1200;
   margin: auto;
   gap: 20px ;
   grid-template-columns: repeat(auto-fit, minmax(180px,180px)); 
    padding-bottom: 50px;
}

.item{
    border: solid thin var(--dorado);
}

.item img{
    width: 100%;
    height: 120px;
}

.item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.2;
}

.item button{
    padding: 1rem;
    width: 80%;
    background-color: var(--dorado);
    color: var(--azul_oscuro);
    border-radius: 5px;
    margin-bottom: 5px;   
}

.item button:hover {
    background-color: antiquewhite;
    transition: all .3s;
}

.precio p:first-child {
    text-decoration: line-through;
}

.titulo{
    color: var(--verde);
    line-height: 1;
    font-size: 2.1em;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    color: var(--verde);
    line-height: 0.9;
    font-size: 4rem;
}
       
h2{
    color:var(--verde);
}

header{
    flex: auto;
    background-image: url('../images/joya_ppal.jpg');
    height: 40vh;
    width: 100%;
    background-size: cover;
    text-align: center;
    line-height: 0.5;
}

.cinta nav{
    display: flex;
    justify-content: flex-end;
    background-color:var(--dorado);
    padding:15px;
    width:100%;
}
       
.cinta a{
    margin:0px 5%;
    align-content: end;
    font-size: larger;
    color: var(--blanco);
    background-color: var(--dorado);            
}

article.productos{
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--verde);
    overflow: hidden;
    transition: all .5s ease-in-out; 
}

img.productos{
    object-fit: cover;
    width: 250px;
    height: 250px;
}   

img.index{
    float: left;
    object-fit: cover;
    width: 250px;
    height: 250px;
}

h6{
    background-color: var(--verde);
    color:var(--blanco);
    font-size: 1.2rem;
}

footer{
    background-image: url('../images/footer.jpg');
    height: 10vh;
    text-align: center;
    width: 100%;
    background-size: cover;
    text-align: center;
    margin-bottom: 40px;
}

.siguenos{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.iconos{
    width: 5%;
    margin-left: 5%;
}

.nota{
    padding: 1%;
    height: 50vh;
    width: 30%;
    border: 1px solid var(--blanco);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--azul_claro);
    margin-right: 1px;
    background-color: var(--amarillo);
}

.seccion_entrada{
    background-image: url('../images/img_girl.jpg');
    height: 50vh;
    width: 100%;
    background-size: cover;
    text-align: right;
    color: var(--blanco);
    line-height: 0.5;
}

form{
    max-width: 100%;
    border: 2px solid var(--blanco);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--azul_claro);
    background-color: var(--amarillo);
}

button{
    background-color: var(--dorado);
    color: var(--azul_oscuro);
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.tu_joyero-total .j_btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: var(--dorado);
    color: var(--blanco);
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.tu_joyero-total h2{
    color: black
}
  
 .tu_joyero-total .j_btn-pagar:hover{
     scale: 1.1;
 }

 .tu_joyero-total{
    background-color: white; 
    padding: 30px;
 }
 