.seccion_joyero{
        display: flex;
        min-width: 100%;
        max-width: 100%;
        height: auto;
        margin:auto;
        margin-bottom: 40px;
        text-align: center;
    }

.tu_joyero{
    border: 1px solid var(--blanco);
     width: 50%;
     margin-top: 30px;
     border-radius: 10px;
     overflow: hidden;
     margin-bottom: auto;
     position: sticky !important;
     top: 0;
     transition: .3s;
 }
  
 .tu_joyero h2{
     color: var(--blanco);
 }
 
 
 .tu_joyero .tu_joyero-item{
     display: flex;
     align-items: center;
     position: relative;
     border-bottom: 1px solid #666;
     padding: 5px;
 }
 
 .tu_joyero .tu_joyero-item img{
     margin-right: 100%;
 }
 
 .tu_joyero .tu_joyero-item .tu_joyero-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
 }
 
 .tu_joyero .tu_joyero-item .j_selector-cantidad{
     display: inline-block;
     margin-right: 40px;
     align-items: center;
     cursor: pointer;
     justify-content: center;
 }
 
 .tu_joyero .tu_joyero-item .j_selector-cantidad :hover{
     scale: 2;
 }
 
 .tu_joyero .tu_joyero-item .tu_joyero-item-cantidad{
     border: none;
     font-size: 38px;
     background: transparent;
     display: inline-block;
     width: 10px;
     padding: 5px;
     text-align: center;
}

.tu_joyero .tu_joyero-item .tu_joyero-item-precio{
     font-weight: bold;
     display: inline-block;
     font-size: 18px;
     margin-bottom: 5px;
 }
 
 .tu_joyero .tu_joyero-item .j_btn-eliminar{
    justify-content: center; 
    cursor: pointer;
 }
 
 .tu_joyero .tu_joyero-item .j_btn-eliminar :hover{
     scale: 2;
 }
 
 .tu_joyero .tu_joyero-item .selector-cantidad input{
     pointer-events: none;
 }
 
.tu_joyero-total{
    background-color: aliceblue; 
    padding: 30px;
 }
 
 .tu_joyero-total .j_fila {
     /*display: flex;*/
     justify-content: space-between;
     align-items: center;
     font-size: 15px;
     font-weight: bold;
     margin-bottom: 5px;
}

